@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

// Style New-Travel_Home-V1-1

[class^="icon-"], [class*=" icon-"] 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'New-Travel_Font-V1' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.icon-user:before 
	content: "\e911"

.icon-add:before 
	content: "\e900"

.icon-arrow-from:before 
	content: "\e901"

.icon-arrow-logo-right:before 
	content: "\e902"

.icon-arrow-long-down:before 
	content: "\e903"

.icon-arrow-long-up:before 
	content: "\e904"

.icon-arrow-right:before 
	content: "\e905"

.icon-arrow-short-down:before 
	content: "\e906"

.icon-arrow-to:before 
	content: "\e907"

.icon-calendar:before 
	content: "\e908"

.icon-check:before 
	content: "\e909"

.icon-delete:before 
	content: "\e90a"

.icon-help:before 
	content: "\e90b"

.icon-menu:before 
	content: "\e90c"

.icon-passenger:before 
	content: "\e90d"

.icon-scroll-down:before 
	content: "\e90e"

.icon-search-ticket:before 
	content: "\e90f"

.icon-ticket:before 
	content: "\e910"

// HEADER
.logo_container
	position: relative
	top: 10px
	z-index: 1
	width: 180px
	fill: #fff
	float: left
	
.icon-menu
	float: left
	position: relative
	z-index: 1
	top: 25px
	color: #fff
	background: none
	border: none
	margin-right: 20px
@import "media" // Всегда в конце
